<!-- footer start -->

<footer class="site-footer">
  <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> RSS Feed</span></a>
  <div class="inner">
     <section class="copyright">&copy; 2011-{{ site.time | date: '%Y' }} <a href="http://tofumatt.com/">{{ site.name }}</a>. <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons License</a>. <a href="https://www.flickr.com/photos/megathoncharlie/7164501689">Photo source</a>.</section>
  </div>
</footer>

<!-- footer end -->
